#overlay-chat-container {
  display: none;
  position: absolute;
  top: 10%;
  right: 5%;
  width: 25%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2147483647;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  transition: opacity 0.1s ease, visibility 0.3s ease; /* Reduced opacity transition time */
  opacity: 0;
  visibility: hidden;
}

#overlay-chat-container.show {
  opacity: 1;
  visibility: visible;
}

#drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

#chat-messages-container {
  height: calc(100% - 10px);
  overflow-y: auto;
  margin-top: 20px;
  padding: 10px;
}

#toggle-chat-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2147483648;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

#toggle-chat-overlay.show {
  opacity: 1;
  visibility: visible;
}

.chat-message {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 3px;
  color: white;
}

.chat-message-profile {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0;
}

.chat-message-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.chat-message-author {
  font-weight: bold;
  margin-right: 8px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.chat-message-text {
  word-break: break-word;
}


.chat-badge {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}

.author-member {
  color: #2ba640;
}

.author-moderator {
  color: #5e84f1;
}

#resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: nwse-resize;
  z-index: 2147483649; /* Ensure it is above other elements */
  pointer-events: auto; /* Ensure the resizer can be clicked */
}

/* Styling the scrollbar for webkit browsers */
#chat-messages-container::-webkit-scrollbar {
  width: 6px;
}

#chat-messages-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

#chat-messages-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

/* For Firefox */
#chat-messages-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.1);
}

#settings-icon {
  position: absolute;
  top: 2px;
  right: 5px;
  width: 16px;
  height: 16px;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
  color: white;
  z-index: 2147483649;
}

#drag-handle:hover #settings-icon {
  opacity: 1;
}

#settings-panel {
  position: absolute;
  top: 25px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 4px;
  display: none;
  z-index: 2147483649;
}

#settings-panel.show {
  display: block;
}

.opacity-control {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.opacity-control input {
  width: 100px;
}